
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}
header {
  background: #004080;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}
section {
  padding: 20px;
}
footer {
  text-align: center;
  background: #333;
  color: white;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
